<%- include ../partials/head %>
<script type="text/javascript">
var companies = <%-JSON.stringify(companies)%>;
</script>
<div class="container-fluid">
<div class="row banner-top-button">
	<div class="col-md-12 text-center">
		<a href="/"><i class="fa fa-home" aria-hidden="true" style="font-size:24px"></i><span> Principal</span></a>
	</div>
</div>
<div class="row search-results-title justify-content-center">
	<div class="col-md-4 text-center">
		<span id="category"><%- category %></span> | <span id="city"><%- city %></span> | <span id="state"><%- state %></span>
	</div>
</div>
<div class="row search-results justify-content-center">

</div>
</div><!-- end: container-fluid-->
<script type="text/javascript" src="/static/script-search.js"></script>
<%- include ../partials/footer %>